* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243, 234, 217)
}

.container {
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyes {
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.eye {
    /* width: calc((100% / 2) - 20px); */
    width: 200px;
    height: 100%;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(41, 0, 70);
}

.eyelid {
    position: relative;
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 50%;
    clip-path: inset(0 0 75% 0);
}

.upper {
    top: 0;
    left: 0;
}

.lower {
    transform: rotate(180deg);
    top: -100%;
    left: 0;
}

.pupil-container {
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.pupil {
    position: relative;
    width: 80px;
    height: 80px;
    top: 60px;
    left: 10px;
    background: rgb(41, 0, 70);
    border-radius: 50%;
}

.iris {
    position: relative;
    width: 40px;
    height: 40px;
    background: rgb(71, 2, 121);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}